/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	color-scheme: light dark;

	--color-text: #FFFFFF;
	--color-text-clear: #ffffff84;
	--color-background: light-dark(#F78F1E, #000000);
	--color-text-artist: #000000;
	--color-button-active: light-dark(#E35800, #585858);
	--color-button-inactive: light-dark(#EF7A13, #2e2e2e);
	--color-button-focus: light-dark(#ffffff, #F78F1E);

	--font-face: 'Helvetica';
	--font-size-xl: 6em;
	--font-size-l: 4.4em;
	--font-size-mid: 1.125em;
	--font-size-m: 1.8em;
	--font-size-s: 0.9em;
	--letter-spacing: -0.06em;
}

:root:has(value="light"):checked {
	color-scheme: light;
}

:root:has(value="dark"):checked {
	color-scheme: dark;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: var(--font-face);
}

Header {
	display: flex;
	color: var(--color-text);
	background-color: var(--color-background);
}

h1 {
	display: flex;
	justify-content: center;
	font-size: var(--font-size-xl);
	letter-spacing: var(--letter-spacing);

	margin-top: 0.1em;
	margin-bottom: 0;
}

h2 {
	display: flex;
	justify-content: flex-start;
	font-size: var(--font-size-l);
	letter-spacing: var(--letter-spacing);
	margin: 0;
}

h3 {
	display: flex;
	justify-content: flex-start;

	font-size: var(--font-size-m);

}

a {
	color: var(--color-text);
	text-decoration: none;
	font-size: var(--font-size-mid)
}

main a {
	text-decoration: underline;
	margin-inline-start: 0.3em;
	font-size: 1em;
}

.artiest {
	color: var(--color-text-artist);
	background-color: var(--color-text);


}

section:first-of-type p {
	display: flex;
	justify-content: center;

	margin-top: 0;

	color: var(--color-text-clear);
	font-weight: bold;
}

ul {
	display: flex;
	align-items: flex-start;
	list-style: none;
	padding: 0;
}

button {
	color: var(--color-text);
	background-color: var(--color-button-inactive);
	font-size: var(--font-size-s);
	font-weight: bold;

	border: none;
	padding: 0.8em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	margin: 2px;
}

button:hover {
	background-color: var(--color-button-active);
	transition: 0.2s;
}

button:focus-visible {
	border: var(--color-button-focus);
	border-style: dashed;
	border-radius: 0;
}

ul li:first-child button {
	background-color: var(--color-button-active);
}