/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}



/*********************/
/* CUSTOM PROPERTIES
#F78F1E
#E35800
#EF7A13 */
/*********************/
:root {
	color-scheme: light dark;

	--color-text: #FFFFFF;
	--color-text-clear: #ffffff84;
	--color-background: light-dark(#00A890, #000000);
	--color-text-artist: #000000;
	--color-button-active: light-dark(#007F6D, #585858);
	--color-button-inactive: light-dark(#009983, #2e2e2e);
	--color-button-focus: #F78F1E;

	--letter-spacing: -0.06em;
	--text-shadow: 0px 0px 6px #000000;

	--font-face: 'Helvetica';
	--font-size-xl: 6em;
	--font-size-l: 4.4em;
	--font-size-m: 1.8em;
	--font-size-ml: 1.3em;
	--font-size-mid: 1.125em;
	--font-size-s: 0.9em;

	--circle-color1: rgba(255, 255, 255, 0.7);
	--circle-color2: rgba(0, 168, 143, 0.7);
	--circle-color3: rgba(0, 127, 108, 0.7);
	--circle-color4: rgba(0, 153, 130, 0.7);
	--circle-color5: rgba(24, 215, 186, 0.7);
	--circle-color6: rgba(14, 77, 67, 0.7);

}

:root:has(value="light"):checked {
	color-scheme: light;
}

:root:has(value="dark"):checked {
	color-scheme: dark;
}


/****************/
/* JOUW STYLING */
/****************/


* {
	padding: 0;
	margin: 0;
	max-width: 600px;
}

body {
	color: var(--color-text);
	background-color: var(--color-background);

	font-family: var(--font-face);

	cursor: url(../images/pardiso_customcursor_paradiso_cursor_zwartwit.svg), auto;
}


/**************/
/* NAVIGATION */
/**************/


Header {
	color: var(--color-text);
	background-color: var(--color-background);
}

nav {
	padding: 0.8em;

	display: flex;
	align-items: center;
}

nav button {
	flex-shrink: 1;
	padding: 0.7em;
	margin: 0;
	background-color: var(--color-background);
	padding-left: 0.3em;
	justify-self: start;
}

nav button:hover {
	background-color: var(--color-background);
}


nav a:nth-of-type(1) {
	flex-shrink: 1;
	padding: 0.7em;
}


nav a:nth-of-type(2) {
	flex-grow: 1;
	text-align: end;
	font-weight: bold;
	padding-right: 0.1em;
}


/********/
/* MAIN */
/*******/

h1 {
	display: flex;
	justify-content: center;
	font-size: var(--font-size-xl);
	letter-spacing: var(--letter-spacing);

	margin-top: 0.1em;
	margin-bottom: 0;
}

h2 {
	display: flex;
	justify-content: flex-start;

	font-size: var(--font-size-l);
	letter-spacing: var(--letter-spacing);

	margin-top: 0.3em;
	margin-left: 0.15em;
	margin-bottom: 0.5em;
}

h3 {
	display: flex;
	justify-content: flex-start;

	margin-left: 0.5em;
	margin-bottom: 0.2em;

	font-size: var(--font-size-m);
}

a {
	color: var(--color-text);
	text-decoration: none;
	font-size: var(--font-size-mid);
	cursor: url(../images/pardiso_customcursor_paradiso_cursor_oranje.svg), auto;
}

a:focus-visible {
	border: 6px;
	border-style: dotted;
	border-color: var(--color-button-focus);
	border-radius: 0;
}

main a {
	text-decoration: underline;
	margin-inline-start: 0.3em;
	font-size: 1em;
}

ul {
	display: flex;
	align-items: flex-start;
	list-style: none;
}

ul li a {
	text-decoration: none;
}

section:first-of-type p {
	display: flex;
	justify-content: center;

	margin-top: 0;

	color: var(--color-text-clear);
	font-weight: bold;
}


/*****************/
/* IMAGE COLLAGE */
/*****************/


div section:nth-of-type(2) {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}


section:nth-of-type(2) img {
	max-width: 30%;
	max-height: auto;
	margin: 0.3em;
}


/**************/
/* ANIMATION */
/*************/


.container {
	position: relative;
}

.ball {
	position: absolute;
	top: 0;
	left: 0;

	height: 100px;
	width: 100px;
	border-radius: 50%;

	background-color: rgba(230, 88, 0, 0.70);

	animation: moving infinite linear alternate 18s;
}

.ball2 {
	position: absolute;
	bottom: 0;
	right: 0;

	height: 100px;
	width: 100px;
	border-radius: 50%;

	background-color: rgba(230, 88, 0, 0.70);
	animation: moving2 infinite linear alternate 20s;
}

.ball3 {
	position: absolute;
	bottom: 0;
	left: 0;

	height: 100px;
	width: 100px;
	border-radius: 50%;

	background-color: rgba(230, 88, 0, 0.70);
	animation: moving3 infinite linear alternate 23s;
}

@keyframes moving {

	0% {
		top: 0;
		left: 0;
	}

	20% {
		top: 25%;
		left: 80%;
		background-color: rgba(255, 0, 0, 0.70);
	}

	40% {
		top: 85%;
		left: 35%;
		background-color: rgba(0, 255, 68, 0.70);
	}

	60% {
		top: 30%;
		left: 0;
		background-color: rgba(3, 74, 255, 0.70);
	}

	80% {
		top: 60%;
		left: 80%;
		background-color: rgba(123, 0, 255, 0.70);
	}

	100% {
		top: 0;
		left: 50%;
		background-color: rgba(255, 0, 119, 0.7);
	}



}

@keyframes moving2 {

	0% {
		bottom: 0;
		right: 0;
	}

	20% {
		bottom: 25%;
		right: 80%;
		background-color: rgba(255, 0, 119, 0.7);
	}

	40% {
		bottom: 85%;
		right: 35%;
		background-color: rgba(3, 74, 255, 0.70);
	}

	60% {
		bottom: 30%;
		right: 0;
		background-color: rgba(0, 255, 68, 0.70);
	}

	80% {
		bottom: 60%;
		right: 80%;
		background-color: rgba(255, 0, 0, 0.70);
	}

	100% {
		bottom: 0;
		right: 50%;
		background-color: rgba(123, 0, 255, 0.70);
	}



}

@keyframes moving3 {

	0% {
		bottom: 0;
		left: 0;
	}

	20% {
		bottom: 25%;
		left: 80%;
		background-color: rgba(3, 74, 255, 0.70);
	}

	40% {
		bottom: 85%;
		left: 35%;
		background-color: rgba(123, 0, 255, 0.70);
	}

	60% {
		bottom: 30%;
		left: 0;
		background-color: rgba(255, 0, 0, 0.70);
	}

	80% {
		bottom: 60%;
		left: 80%;
		background-color: rgba(255, 0, 119, 0.7);
	}

	100% {
		bottom: 0;
		left: 50%;
		background-color: rgba(0, 255, 68, 0.70);
	}



}


/****************/
/* IMAGE SLIDER */
/****************/


main>ul:first-of-type {
	display: flex;
	overflow: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
}

main>ul:first-of-type li {
	display: flex;
	position: relative;
	flex-shrink: 0;
	width: 80%;
	padding-left: 16px;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	aspect-ratio: 5 / 6;
}

main>ul:first-of-type li img {
	width: 100%;
	height: auto;
	overflow: hidden;
}

/* bron:https://codepen.io/tristram/pen/poZYjLO */
main>ul:first-of-type li:hover img {
	transform: scale(1.1);
	transition: .8s ease;
}

main>ul:first-of-type li p {
	position: absolute;
	left: 1.5em;
	background-color: #00000012;
	width: 85%;
	backdrop-filter: blur(6px);
}


main>ul:first-of-type li p:nth-of-type(1) {
	bottom: 58px;
	text-shadow: var(--text-shadow);
}

main>ul:first-of-type li p:nth-of-type(2) {
	bottom: 34px;
	text-shadow: var(--text-shadow);
}

main>ul:first-of-type li p:nth-of-type(3) {
	bottom: 10px;
	text-shadow: var(--text-shadow);
}

main>ul:first-of-type li a {
	margin-inline-start: 0;
	font-size: var(--font-size-ml);
}


section>ul:first-of-type {
	justify-content: center;
	margin-top: 2em;
	margin-bottom: 2em;
}


/******************/
/* FILTER BUTTONS */
/******************/

button {
	color: var(--color-text);
	background-color: var(--color-button-inactive);

	font-size: var(--font-size-s);
	font-weight: bold;

	cursor: url(../images/pardiso_customcursor_paradiso_cursor_oranje.svg), auto;

	border: none;
	padding: 0.8em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	margin: 2px;
}

ul li:first-child button {
	background-color: var(--color-button-active);
}


button:hover {
	background-color: var(--color-button-active);
	transition: 0.2s;
}

button:focus-visible {
	border: 6px;
	border-style: dotted;
	border-color: var(--color-button-focus);
	border-radius: 0;
}

/**************/
/* EVENT LIST */
/**************/


section ul:nth-of-type(2),
section ul:nth-of-type(3),
section ul:nth-of-type(4) {

	flex-direction: column;
	margin-bottom: 3em;
}

section ul:nth-of-type(2) li,
section ul:nth-of-type(3) li,
section ul:nth-of-type(4) li {

	margin-left: 0.5em;
	margin-right: 0.5em;
	width: 95%;
	padding: 0.5em;
	border: 1px;
	border-color: var(--color-background);
	border-style: solid;
}

section ul:nth-of-type(2) li:hover,
section ul:nth-of-type(3) li:hover,
section ul:nth-of-type(4) li:hover {

	border-color: #FFFFFF;
	background-color: #00A890;
	animation: lijstblok 0.4s 0.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-1 13:36:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes lijstblok {

	0% {
		box-shadow: 0 0 #007F6D, 0 0 #007F6D, 0 0 #007F6D, 0 0 #007F6D,
			0 0 #007F6D, 0 0 #007F6D, 0 0 #007F6D, 0 0 #007F6D;
		transform: translateX(0) translateY(0);
	}

	100% {
		box-shadow: 1px 1px #007F6D, 2px 2px #007F6D, 3px 3px #007F6D, 4px 4px #007F6D,
			5px 5px #007F6D, 6px 6px #007F6D, 7px 7px #007F6D, 8px 8px #007F6D;
		transform: translateX(-8px) translateY(-8px);
	}

}

section ul:nth-of-type(2) li:hover p,
section ul:nth-of-type(3) li:hover p,
section ul:nth-of-type(4) li:hover p {
	color: #FFFFFF;
}

section ul:nth-of-type(2) li:nth-of-type(2),
section ul:nth-of-type(3) li:nth-of-type(2),
section ul:nth-of-type(4) li:nth-of-type(2) {

	padding-bottom: 1em;
	border-color: var(--color-button-inactive);
	border: 1px;
	border-left: var(--color-background);
	border-right: var(--color-background);
	border-style: solid;
}

section ul:nth-of-type(2) li a,
section ul:nth-of-type(3) li a,
section ul:nth-of-type(4) li a {

	display: flex;
	flex-direction: column;
}

section ul:nth-of-type(2) li a span,
section ul:nth-of-type(3) li a span,
section ul:nth-of-type(4) li a span {

	display: flex;
	flex-direction: row;
	margin-top: 0.4em;
}

section ul:nth-of-type(2) a b,
section ul:nth-of-type(3) a b,
section ul:nth-of-type(4) a b {

	flex-shrink: 1;
}

section ul:nth-of-type(2) a span+p,
section ul:nth-of-type(3) a span+p,
section ul:nth-of-type(4) a span+p {

	flex-grow: 1;
	text-align: start;
	margin-top: 0.3em;
}

section ul:nth-of-type(2) a p,
section ul:nth-of-type(3) a p,
section ul:nth-of-type(4) a p {

	color: rgba(255, 255, 255, 0.7);
	text-align: end;
	flex-grow: 1;
}


/************/
/* PAGINA 2 */
/************/


.artiest {
	color: var(--color-text-artist);
	background-color: var(--color-text);

	section {
		position: relative;
	}

	section>img {
		width: 100%;
	}

	section:nth-of-type(2) {
		display: block;
		flex-wrap: nowrap;
		max-width: 100%;
		margin-top: 0;
		margin-bottom: 0;

		padding-left: 1em;
		padding-right: 1em;
	}

	section:nth-of-type(2) p {
		margin-bottom: 1.6em;
	}

	section:nth-of-type(2) p:first-of-type {
		font-weight: bold;
	}

	section:nth-of-type(2) p:nth-of-type(4) {
		font-weight: bold;
	}

	section:nth-of-type(3) {
		display: flex;
		flex-direction: column;

		padding-left: 1em;
		padding-right: 1em;
	}

	section:nth-of-type(3) p:first-of-type {
		font-weight: bold;
	}


	h4 {
		font-size: 0.8em;
		font-weight: bold;
		color: #E35800;
		margin-top: 1.6em;
		margin-bottom: 1.6em;
	}

	main button {
		background-color: var(--color-background);
		display: flex;
		justify-content: space-between;
		position: absolute;
		bottom: -1em;
		left: 1em;
		right: 1em;
		margin: 0em;
		padding: 0.9em;
	}

	main button:hover {
		background-color: var(--color-button-active);
	}

	strong {
		padding-top: 0.2em;
		font-size: var(--font-size-ml);
		color: var(--color-text);
	}

	h1 {
		font-size: var(--font-size-m);
		color: var(--color-text);
		position: absolute;
		bottom: 1.6em;
		margin-left: 0.6em;
		text-shadow: var(--text-shadow);
	}

	h2 {
		color: var(--color-button-active);
		font-size: var(--font-size-m);
		margin-left: 0;
	}

	iframe {
		position: relative;
		margin-top: 1em;
		margin-bottom: 1em;
		width: 100%;
		min-height: 220px;

	}

	iframe:nth-of-type(2) {
		margin-top: 0;
		min-height: 340px;
	}

	section:nth-of-type(4) {
		padding-left: 1em;
		padding-right: 1em;
		margin-bottom: 3em;
	}

	section:nth-of-type(4) p {
		margin-bottom: 2em;
	}

	section:nth-of-type(4) a {
		color: var(--color-text-artist);
		margin-inline-start: 0;
		font-weight: bold;
	}

}

/* --- Hamburger menu styling --- */
.hamburger-menu {
	position: relative;
	z-index: 1000;
	/* Z-index van 1000 om ervoor te zorgen dat het menu bovenaan komt */
}

.menu-dropdown {
	display: none;
	/* Verberg het dropdownmenu standaard */
	position: absolute;
	top: 50px;
	/* Afstand vanaf de knop */


	left: 0;
	background-color: rgb(255, 255, 255);
	padding: 1em;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1001;
	/* Hoger dan de rest van de pagina */
}

.menu-dropdown ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 2em;
}

.menu-dropdown ul li {
	margin: 0.5em 0;
}

.menu-dropdown ul li a {
	color: var(--color-text-artist);
	text-decoration: none;
	font-size: var(--font-size-l);
	font-weight: bold;
}

nav button:hover,
.menu-dropdown ul li a:hover {
	text-decoration: underline var(--color-text-artist);
	transition: 0.3s;
}